@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Condensed:wght@300;400&display=swap');

body
{
    display: block;
    width: auto;
}

.title
{
    font-family: 'Montserrat', sans-serif;
    color: black;
}

.title__highlighter
{
    color: #ee58b6;
}

.header
{
    background: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(25px);

    display: flex;
    flex-direction: column;
    align-items: center;

    position: fixed;
    top: 0;

    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;

    padding: 30px 0;
}

.header__container
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    width: -moz-available;          /* WebKit-based browsers will ignore this. */
    width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    width: fill-available;
    height: 55px;
    margin: 0 120px;
}

.header__logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar
{
    display: flex;
    flex-direction: row;
}

.nav-bar__wrapper
{
    text-align: center;

    display: flex;
    align-items: center;

    margin-right: 99px;
}

.nav-bar__button, .nav-menu__button
{
    background: transparent;
    border: none;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;

    margin-left: 87px;
    padding: 0;
}

.nav-menu__button
{
    margin: 10px 0;
}

.nav-menu__toggle
{
    background: none;
    display: none;
    border: none;
    cursor: pointer;
}

.nav-menu__container
{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.nav-menu__container_is-open
{
    display: none;
}

.sign-up-button
{
    background-color: #05090c;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    text-decoration: none;
    color: white;


    width: 247px;
    height: 55px;

    padding: 0;
}

.sign-up-button_long
{
    width: 332px;
}

.hero
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 158px;
    margin-bottom: 61px;
}

.hero__container
{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.hero__paragraph
{
    padding-bottom: 34px;
    margin-right: 29px;
}

.hero__title
{
    font-weight: 600;
    font-size: 100px;
    line-height: 122px;

    width: 745px;
    height: 138px;
}

.hero__desc
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);

    max-width: 545px;

    margin: 5px 0 46px 0;
}

.hero__img
{
    width: 100%;
}

.benefits
{
    background: black;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits__container
{
    display: inline-grid;
    justify-items: center;
    grid-column-gap: 110px;
    -ms-grid-columns: 291px 342px 284px;
    grid-template-columns: 291px 342px 284px;

    margin-top: 111px;
    margin-bottom: 156px;
}

.benefits__card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefits__img
{
    object-fit: none;
    align-self: center;

    margin-bottom: 19px;
}

.benefits__text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: white;
}

.content
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 189px;
}

.content-card
{
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 77px;
}

.content-card__paragraph
{
    max-width: 574px;
}

.content-card__title
{
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
    text-align: center;

    margin-bottom: 26px;
}

.content-card__img_first
{
    margin-right: 112px;
}

.content-card__img_second
{
    margin-left: 82px;
}

.content-card__desc
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.7);
}

.about
{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 59px;
}

.about__container
{
    display: inline-grid;
    grid-gap: 30px;
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin-top: 33px;
}

.about-card
{
    background-color: black;
    border-radius: 7px;

    display: flex;
    flex-direction: column;

    width: 271px;
    height: 121px;

    padding: 32px 48px 37px 39px;
}

.about-card__text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 21px;
    color: white;

    width: 250px;
}

.about__desc_long
{
    width: 287px;
}

.about__desc_short
{
    width: 234px;
}

.about__desc_shortest
{
    width: 200px;
}

.about-card__img
{
    object-fit: none;
    align-self: start;

    margin-bottom: 18px;
}

.footer
{
    background: black;

    display: flex;
    justify-content: center;
    align-items: center;

    width: auto;
    height: 108px;

    margin-top: 289px;
}

@media screen and (max-width: 1600px)
{
    .hero__container
    {
        flex-direction: column-reverse;
    }

    .hero__paragraph
    {
        margin: 0;
    }
}

@media screen and (max-width: 1366px)
{
    .nav-bar__wrapper
    {
        margin-right: 60px;
    }

    .nav-bar__button
    {
        margin-left: 40px;
    }

    .benefits__container
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .benefits__card
    {
        max-width: 342px;
        margin: 30px 0;
    }

    .about__container
    {
        -ms-grid-columns: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        -ms-grid-rows: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1024px)
{
    .nav-bar
    {
        display: none;
    }

    .nav-menu__toggle
    {
        display: block;
    }

    .nav-menu__container_is-open
    {
        display: flex;
    }

    .hero__title
    {
        width: auto;
    }

    .hero__img img
    {
        width: 100%;
    }

    .content-card
    {
        flex-direction: column;
        text-align: center;
    }

    .content-card__img_first, .content-card__img_second
    {
        margin: 0;
    }

    .content-card__img img
    {
        width: 100%;
    }

    .content-card_mobile
    {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 768px)
{
    .header__container
    {
        margin: 0 60px;
    }

    .hero__paragraph
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin: 0;
    }

    .hero__title
    {
        font-size: 70px;
        line-height: 70px;
        height: auto;
    }

    .sign-up-button_long
    {
        width: 247px;
    }

    .about__container
    {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 380px)
{
    .about-card
    {
        padding: 32px 28px 37px 19px;
    }
}