@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Roboto+Condensed&display=swap');

body
{
    display: block;
    margin: 0;
    width: 1920px;
}

.heading-highlight
{
    color: #ee58b6;
}

.header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 120px 0 120px;
}

.header__logo
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__nav
{
    display: flex;
    flex-direction: row;
}

.header__nav-bar
{
    margin-right: 99px;
    text-align: center;
    display: flex;
    align-items: center;
}

.header__button
{
    background-color: white;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    margin-left: 87px;
    padding: 0;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.sign-up-button
{
    background-color: #05090c;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
    width: 247px;
    height: 55px;
    border-radius: 5px;
    padding: 0;
}

.sign-up-button_long
{
    width: 332px;
}

.intro
{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 73px 0 0 175px;
}

.intro__title
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122px;
    width: 745px;
    height: 138px;
    margin: 0;
}

.intro__text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    width: 545px;
    color: rgba(0, 0, 0, 0.7);
    margin: 5px 0 46px 0;
}

.intro__img
{
    /*width: 849px;
    height: 849px;
    margin-left: 30px;*/
    object-fit: cover;
    width: 100%;
}

.benefits
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    align-content: center;
}

.benefits-card
{
    display: flex;
    flex-direction: column;
    width: 337px;
}

.benefits-card__img
{
    object-fit: none;
    align-self: center;
}

.benefits-card__text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: white;
    width: 337px;
}

.content-header
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 126.06%;
    color: black;
}

.content-desc
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 135%;
    color: rgba(0, 0, 0, 0.7);
}

.content-table-card
{
    border-radius: 7px;
    background-color: black;
    width: 271px;
    height: 121px;
    padding: 32px 48px 37px 39px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.content-table-card__text
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: white;
}

.content-table-card__text_long
{
    width: 287px;
}

.content-table-card-img
{
    object-fit: none;
    align-self: start;
}

.footer
{
    vertical-align: middle;
    align-items: center;
    background-color: black;
    width: auto;
    height: 108px;
    display: flex;
    justify-content: center;
}