@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap&subset=cyrillic');

.main {
  margin-top: 100px;
  margin-left: 340px;
  margin-right: 496px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.right_to_left_flex
{
  display: flex;
  flex-direction: row-reverse;
}

.left_to_right_flex
{
  display: flex;
  flex-direction: row;
}

.photo  {
  width: 330px;
  height: 350px;
  border-radius: 5px;
  background-color: #132d36;
  margin-bottom: 28px;
  margin-right: 60px;
}

.list_start {
  font-family: 'Open Sans';
  font-size: 24px;
  font-weight: 600;
  line-height: 1.33;
  text-align: left;
  color: #15a98c;
  width: 330px;
  margin-right: 60px;
}

.list {
  font-family: Georgia;
  font-size: 19px;
  line-height: 1.89;
  text-align: left;
  padding-left: 20px;
  color: #555555;
  margin-bottom: 40px; 
}

.quotes_image {
  padding-top: 50px;
  margin: 0; 
}

.quote {
  width: 444px;
  font-family: Georgia;
  font-size: 28px;
  font-style: italic;
  line-height: 1.5;
  text-align: left;
  color: #848484;
  position: relative;
  bottom: 22px;
  margin-top: 0;
  margin-left: 58px;
  margin-bottom: 27px; 
}

.quote_author {
  height: 17px;
  font-family: 'Open Sans';
  font-size: 16px;
  font-weight: 600;
  line-height: 2.63;
  text-align: left;
  color: #333333;
  margin-left: 63px;
  position: relative;
  bottom: 49px;
}

.first_heading {
  width: 214px;
  height: 44px;
  font-family: 'Open Sans';
  font-size: 48px/0.88;
  font-weight: bold;
  line-height: 0.88;
  text-align: left;
  color: #333333;
  padding-top: 6px;
  margin-bottom: 0;
}

.green_line  {
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3aa;
  margin-top: 36px;
  margin-bottom: 46px;
}

.phrase {
  width: 508px;
  height: 178px;
  font-family: Georgia;
  font-size: 19px;
  line-height: 1.68;
  text-align: left;
  color: #555555;
  margin-bottom: 55px;
}

.second_heading 
{
  height: 27px;
  font-family: 'Open Sans';
  font-size: 36px;
  line-height: 1.17;
  font-style: normal;
  font-weight: normal;
  font-stretch: normal;
  text-align: left;
  color: #333333;
  margin-bottom: 31px;
}

.green_write 
{
  width: 139px;
  height: 18px;
  font-family: Georgia;
  font-size: 19px;
  line-height: 1.68;
  text-align: left;
  color: #15a98b;
  margin-bottom: 134px;
  display: inline-block;
  text-decoration: none;
}

.green_underline
 {
  border-bottom: solid 1px #15a98b;
}

