@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700&display=swap&subset=cyrillic');

.main
{
  margin-top: 100px;
  margin-left: 460px;
  margin-right: 496px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.right_to_left_flex
{
  display: flex;
  flex-direction: row-reverse;
}

.left_to_right_flex
{
  display: flex;
  flex-direction: row;
}

.photo
{
  width: 330px;
  height: 350px;
  border-radius: 5px;
  background-color: #132d36;
  margin-bottom: 28px;
  margin-right: 60px;
}

.list_start
{
  font: bold 24px/1.33 'Open Sans';
  color: #15a98c;
  width: 330px;
  margin-right: 60px;
}

.list
{
  font: 19px/1.89 Georgia;
  padding-left: 20px;
  color: #555555;
  margin-bottom: 40px; 
}

.quotes_image
{
  padding-top: 50px;
}

.quote
{
  width: 444px;
  font: italic 28px/1.5 Georgia;
  text-align: left;
  color: #848484;
  position: relative;
  bottom: 22px;
  margin-top: 0;
  margin-left: 58px;
  margin-bottom: 27px; 
}

.quote_author
{
  height: 17px;
  font: Bold 16px/2.63 'Open Sans';
  color: #333333;
  margin-left: 63px;
  position: relative;
  bottom: 49px;
}

.first_heading
{
  width: 214px;
  height: 44px;
  font: bold 48px/0.88 'Open Sans';
  color: #333333;
  margin-top: 23px;
}

.green_line
{
  width: 60px;
  height: 6px;
  border-radius: 3px;
  background-color: #45c3aa;
  margin-top: 36px;
  margin-bottom: 46px;
}

.first_phrase
{
  width: 508px;
  height: 178px;
  font: 19px/1.68 Georgia;
  color: #555555;
  margin-bottom: 55px;
}

.second_heading 
{
  height: 27px;
  font: 36px/1.17 'Open Sans';
  color: #333333;
  margin-bottom: 31px;
}

.second_phrase
{
  width: 555px;
  height: 178px;
  font: 19px/1.68 Georgia;
  text-align: left;
  color: #555555;
  margin-bottom: 55px;
}

.green_write 
{
  width: 139px;
  height: 18px;
  font: 19px/1.68 Georgia;
  color: #15a98b;
  margin-bottom: 134px;
  display: inline-block;
  text-decoration: none;
}

.green_underline
{
  border-bottom: solid 1px #15a98b;
}

